
.Create-Document-Flow-Path{
        /* Rectangle 2 */
    top: 159px; 
}

.View-Request-button{
    top: 278px;
}

.Approved-Request-button{
    top: 396px;
}

.Rejected-Request-button{
    top: 520px;
}

