#Staff-Display-Area{
    position: relative;
    height: 400px;
    width: 90%;
    overflow: scroll;
    background-color: rgb(210, 203, 203);
    font-size: 35px;
    padding: 30px;
    top: 150px;
    left: 5%;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(17, 27, 83, 0.522);
    border: 10px solid rgba(17, 27, 83, 0.522);

}

p{
    line-height: 40px;
}

.Input-Area{
    margin-top: 20px;
    padding: 10px;
    height:300px;
    overflow: scroll;
}

.Comment{
    position: absolute;
    padding: 10px;
    font-size: 35px;
    height: 200px;
    width: 500px;
    margin: 10px;
    
    border-radius: 20px;
}

.SetStatus{
    position: absolute;
    left: 600px;
    padding: 10px;
    font-size: 35px;
    height: 100px;
    width: 350px;
    margin: 10px;
    
}

.Status-Submit-Button {
    position: relative;
    left: 950px;
    top: 10px;
    background-color: #90caf9;
    height: 100px;
    width: 200px;
    font-size: 45px;
    border-radius: 20px;
}

#Status-buttons-hover:hover{
    box-shadow: 6px 6px 1px rgba(67, 87, 199, 0.522);
}
