.Request-Background {
  padding: 1.2rem;
  justify-content: space-between;
  margin: 0.5rem;
  background: rgba(98, 189, 255, 0.5);
  border-radius: 13px;
}

.Request-Background .text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;

  flex-shrink: 1;
  flex-grow: 2;
  flex-basis: 10px;
}

.Request-Background .d-flex {
  flex-shrink: 1;
  flex-grow: 2;
  flex-basis: 10px;
}
