.th1 {
  background-color: #063137;
}

.th2 {
  background-color: #104d55;
}

.th3 {
  background-color: #063137;
}

.login-table {
  border-collapse: separate;
  border-radius: 30px 30px 0 0;
  border-spacing: 10px;
}

.login-table tr th {
  font-size: 30px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 25px;
}

.login-table tbody tr td {
  color: #205e5e;
  font-size: 20px;
  padding: 8px;
  width: 380px;
  text-align: center;
  font-style: italic;
  height: 45px;
  box-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.odd {
  border-radius: 15px;
  height: 100%;
}

.even {
  /* box-shadow: 1px 1px 5px rgb(98, 11, 11); */
  border-radius: 15px;
  height: 100%;
}

.buttons-sets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.buttons-sets button {
  font-size: 1.5rem;
  background: #00adee;
  border: none;
  margin: 0.5rem 1rem;
  border-radius: 1rem;
  padding: 1rem 1rem;
  color: white;
  cursor: pointer;
  width: 100%;
}

.buttons-sets button:hover {
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
