.AddPathTitle {
  text-align: center;
  /* width: 100%; */

  font-size: 40px;
  color: rgb(8, 73, 73);
}

.Add-Button {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #90caf9;

  border-radius: 22px;
}

.Remove-Button {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #90caf9;
  border-radius: 22px;
}

.Path-Submit-Button {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #90caf9;
  border-radius: 22px;
}

#Path-Area {
  padding: 10px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

#Select-Persons {
  width: 80%;
  font-size: 1rem;
}

.Box {
  background-color: #0c3451;
  margin: 50px;
  /* height: 80px; */
  text-align: center;
}

.Content-Background {
  /* background-color: #0c3451; */
  min-height: 60vh;
}
