.Status-Heading{
    position: relative;
    top: 120px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: rgb(8, 73, 73);
}

#Display{
    position: relative;
    height: 400px;
    width: 1200px;
    overflow: scroll;
    background-color: rgb(210, 203, 203);
    font-size: 30px;
    padding: 30px;
    top: 150px;
    left: 110px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(17, 27, 83, 0.522);
    border: 10px solid rgba(17, 27, 83, 0.522);
}


.Status-Table2{
    background-color: #90caf9;
    margin: 10px;
    width: 100%;
}

.Status-Table1{
    background-color: #90caf9;
    margin: 10px;
    width: 100%;

}

.Status-Table1 th{
    border-collapse: collapse;
    margin: 10px;
    width: 25%;
    font-size: 25px;
    padding: 10px;
    justify-content: center;
    
}

.Status-Table2 th{
    border-collapse: collapse;
    margin: 10px;
    width: 25%;
    font-size: 25px;
    padding: 10px;
    overflow-x: scroll;
}



hr{
    position: relative;
    height: 5px;
    color: rgb(164, 150, 150);
    background-color: rgb(164, 150, 150);
    /* left: 10%; */
    justify-content: center;
    width: 100%;
    text-align: center;
}

a{
    color: red;
}



