.Heading {
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  color: rgb(8, 73, 73);
}

.Form-Label {
  height: 70px;
  /* width: 800px; */
  padding: 30px;
  background-color: rgb(194, 203, 203);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.File-Label {
  height: 70px;
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
}

#File-Input {
  height: 70px;
  font-size: 30px;
  font-weight: 500;
}

#Approvers-Name {
  font-size: 12px;
  padding: 10px;
}

#Approvers-Name h1 {
  height: 25px;
}

