.nav{
    overflow: hidden;
    background-color: rgb(22, 71, 132);
    
    border-radius: 10px 10px 0 0;
    height: 100%;
    padding: 10px 5px;
}


@media only screen and (min-width: 1000px) {
    .nav{
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #left{

        height: 100px;
    }

    #left img{
        border-radius: 50px;
        height: 100px;
    }

    #right h1{
        color: rgb(255, 255, 255);
        text-shadow: 10px, black;
        font-size: 40px;
        margin-left: 100px;
    }

}  

@media only screen and (max-width: 1000px) and (min-width: 710px){
    .nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #left{
        float: left;
        margin: 10px auto;
    }

    #left img{
        border-radius: 50px;
        height: 100px;
    }

    #right{
        float: right;
    }

    #right h1{
        padding: 20px 10px;
        color: aliceblue;
    }

}  

@media only screen and (max-width: 710px) {
    .nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #left{
        float: none;
        margin: 5px 5px;
    }

    #left img{
        border-radius: 50px;
        height: 40px;
    }
    
    #right{
        margin: 0px 5px;
    }
    
    #right h1{
        color: aliceblue;
        font-size: 25px;
    } 
}