* {
  font-family: "Outfit";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

.main {
  background: #fff;
  /* background-color: #00ADEE; */
  width: calc(100vw - 0.5rem);
  height: calc(100vh - 0.5rem);
}
button {
  cursor: pointer;
}

.Background {
  min-height: 100vh;
  min-height: 100vh;
  box-sizing: border-box;

  margin: 0.5rem;
  background: #164784;
  border-radius: 31px;
}

.Main-Background {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #0a223f;
  
}

.Header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Footer {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.title {
  font-weight: 600;
  font-size: 3rem;
  text-shadow: 1px 1px 10px #000;
  margin: 0.5rem;
  color: #fff;
}

.Logo {
  border-radius: 50%;
  height: 150px;
  margin: 1rem;
}

.Content-Background {
  padding: 0.5rem;
  background: #eae7e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.welcome-with-Logout-button {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.Welcome-Name {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #675b5b;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.logout-button {
  background-color: #00adee;

  border: 1px solid #000000;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  padding: 0.8rem;
}

.buttons-hover:hover {
  /* box-shadow: 0px 0px 10px rgba(6, 13, 55, 0.799); */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Status {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.Color-Red {
  background: #ff0101;
}

.Color-Blue {
  background: #00adee;
}
.Color-Green {
  background: #00ee10;
}

.buttons-sets-home {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  align-items: center;
}

.buttons-sets-home button {
  margin: 0.8rem 1rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  width: 500px;
  background: #d9d9d9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
