#blur-background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-color: #cccccc98;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-danger,
.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  height: 1rem;
  /* padding: 0; */
  line-height: 0;
}

.login1 {
  width: 400px;
  background: #fff;
  box-shadow: 0 0px 20px black;
  border-radius: 8px;
  padding: 1rem;
}

.login1 .form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.login1 .form span {
  font-size: 25px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 0 0 1rem 0;
}

.form p {
  text-align: left;
}

.form-input {
  border-radius: 10px;
  /* outline: none; */
  color: #1d2129;
  border: 1px solid #ccc;
  width: 100%;
  /* margin: 0 0.5rem; */
  padding: 1rem;
  font-size: 16px;
}

.button_common {
  background-color: rgb(7, 7, 224);
  color: white;
  padding: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* padding: 15px 30px; */
  /* border: none; */
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
  width: 90%;
}

.disabled {
  background-color: #cccccc;
  color: #ffffff;
  cursor: not-allowed;
}

.error {
  color: red;
  text-align: left;
  margin: auto;
  text-indent: 1rem;
  font-size: 16px;
  /* padding: 0px 1rem; */
}

#Strong {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
  color: red;
  padding: 0;
}
