
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'outfit', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: unset;
    text-decoration: none;
}

.BGround{
    padding: 10px;
    width: 100%;
    height: 100%;
}

.App{
    display: flex;
    flex-direction: row;
}

