
.root{
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  --gradient-text : linear-gradient(89deg, #00BCD4 0%, #00BCD4 12%, #EE82EE 56%, #EE82EE 72%, #EE82EE 92%);

  
  --color-bg : #040c18;
  --color-footer : #031b34;
  --color-text : #81afdd;
  --color-subtext : #ff8a71;
 }

 